<app-navbar></app-navbar>

<div class="card">
  <div class="card-header" [ngClass]="{greenClass: clientService.selectedClient.$key!=null}">
    {{ pageTitle| uppercase }}
  </div>

  <div class="card-body">
      <form class="form-horizontal"
            novalidate
            (ngSubmit)="save()"
            [formGroup]="customerForm">
          <fieldset>
        <div class="row">     
        <div class="col-md-8">   
            
            
            <!-- Hidden Fields -->
            <input 
                      type="hidden" 
                      formControlName="$key" 
              />
              <input  type="hidden" 
                      formControlName = "landline" />
              <input  type="hidden" 
                      formControlName = "createDate" />
              
              <div class="row names col-md-12"> 
                    <div class="form-group col-md-6"                                                    
                        [ngClass]="{'has-error': firstNameMessage}">
                        <label class="col-md-8 control-label" 
                                for="firstNameId">Name</label>

                        <div class="col-md-10">
                            <input class="form-control" 
                                    id="firstNameId"
                                    style="text-transform: capitalize;" 
                                    type="text" 
                                    placeholder="Name (required)" 
                                    formControlName="firstName" 
                                    [ngClass]="{dirtyClass: firstNameMessage}"/>
                            <span class="help-block" *ngIf="firstNameMessage">
                                {{ firstNameMessage }}
                            </span>
                        </div>
                    </div>

                    <div class="form-group col-md-6"
                        *ngIf="this.clientService.selectedClient.lastName!=' ' && this.clientService.selectedClient.lastName!=''"
                        [ngClass]="{'has-error': (customerForm.get('lastName').touched || customerForm.get('lastName').dirty) && !customerForm.get('lastName').valid }">
                        <label class="col-md-8 control-label" 
                            for="lastNameId">Last Name</label>

                        <div class="col-md-10">
                            <input class="form-control" 
                                    id="lastNameId"
                                    style="text-transform: capitalize;" 
                                    type="text" 
                                    placeholder="Last Name" 
                                    formControlName="lastName" />
                            <span class="help-block" *ngIf="(customerForm.get('lastName').touched || customerForm.get('lastName').dirty) && customerForm.get('lastName').errors">
                                <span *ngIf="customerForm.get('lastName').errors.required">
                                    Please enter your last name.
                                </span>
                                <span *ngIf="customerForm.controls.lastName.errors.maxlength">
                                    The last name must be less than 50 characters.
                                </span>
                            </span>
                        </div>
                    </div>
              </div>
              <!-- <div class="form-group">  
                   <label class="col-md-2 control-label"> Gender  </label>
                   <div class="col-md-8">   
                       <input   type="radio" 
                                class="form-control"
                                formControlName="gender"/>                      
                   </div>

              </div> -->
              <div class="row phone col-md-12">
                       
                    <div class="form-group col-md-6"
                        [ngClass]="{'has-error': !customerForm.get('phone').valid }">
                        <div class="row col-md-12">   
                            <label class="col-md-12 control-label" 
                                for="phoneId">Primary Phone
                                <i class="fa fa-plus-circle fa-lg"
                                style="margin-left: .5rem; margin-bottom: -1rem;"
                                (click)="addAlternatePhone()">
                                </i>
                            </label>
                            
                                  
                                
                        </div>
                        <div class="col-md-10">
                            <input class="form-control" 
                                    id="phoneId" 
                                    type="tel" 
                                    placeholder="+1 (xxx) xxx-xxxx" 
                                    [textMask]="{mask: mask}"
                                    formControlName = "phone" />
                            <span class="help-block" *ngIf="customerForm.get('phone').errors">
                                <span *ngIf="customerForm.get('phone').errors.required">
                                    Please enter your phone number.
                                </span>
                            </span>
                        </div>
                    </div>
                
                    
                
              <!-- <div class="form-group col-md-6"
                  [ngClass]="{'has-error': !customerForm.get('landline').valid }">
                  <label class="col-md-4 control-label" 
                      for="phoneId">Landline</label>

                  <div class="col-md-8">
                      <input class="form-control" 
                             id="landlineId" 
                             type="tel" 
                              placeholder="+1 (xxx) xxx-xxxx" 
                              [textMask]="{mask: mask}"
                             formControlName = "landline" />
                      <span class="help-block" *ngIf="customerForm.get('landline').errors">
                          <span *ngIf="customerForm.get('landline').errors.required">
                              Please enter your phone number.
                          </span>
                      </span>
                  </div>
              </div> -->

                    <div class="form-group col-md-6"
                       [ngClass]="{'has-error': emailMessage}">
                      <label class="col-md-8 control-label" 
                          for="emailId">Email</label>

                      <div class="col-md-10">
                          <input class="form-control" 
                              id="emailId" 
                              type="email" 
                              placeholder="Email" 
                              formControlName = "email" />
                          <span class="help-block" *ngIf="emailMessage">
                              {{ emailMessage }}
                          </span>
                      </div>
                  </div>
              

            </div>


            <div >   
                <div class="row col-md-12" formArrayName="landline">
                    <!-- <div class="row">
                            <button class="col-md-offset-1 col-md-1 btn btn-primary"
                                    type="button"
                                    (click)="addAlternatePhone()">+
                            </button>
                    </div> -->
                        <div class=" form-group"
                            [ngClass]="{'has-error': !customerForm.get('landline').valid }"
                            *ngFor="let alternatePhone of landline.controls; let i=index">
                                <label class="col-md-8 control-label" 
                                [attr.for]="i">Alternate Phone</label>

                                <div class="row">   
                                <div class="col-md-8">
                                    <input class="form-control" 
                                            [id]="i"  
                                            type="tel" 
                                            placeholder="+1 (xxx) xxx-xxxx" 
                                            [textMask]="{mask: mask}"
                                            [formControlName]="i" />
                                    <span class="help-block" *ngIf="customerForm.get('landline').errors">
                                        <span *ngIf="customerForm.get('landline').errors.required">
                                            Please enter your phone number.
                                        </span>
                                    </span>
                                
                                </div>
                                <button class="btn btn-danger"
                                type="button"
                                (click)="deleteAlternatePhone(i)">X
                                </button>
                            </div>
                                
                        </div>
                </div>
            </div>
              <!--<div formGroupName="emailGroup"
                   [ngClass]="{'has-error': customerForm.get('emailGroup').errors }">-->


            <div class="row  col-md-12"> 
                <div class="form-group col-md-6">
                        <label class="col-md-8 control-label" 
                                for="leadId">Lead</label>

                        <div class="col-md-10">
                            <input class="form-control" 
                                    id="leadId"
                                    style="text-transform: capitalize;" 
                                    type="text" 
                                    placeholder="lead" 
                                    formControlName="lead" 
                                    />
                            
                        </div>
                    </div>

                <div class="form-group col-md-6">
                        <label class="col-md-8 control-label" 
                            for="statusID">Status</label>

                        <div class="col-md-10">
                                <select class="form-control" 
                                id="statusID"
                                style="text-transform: capitalize;" 
                                type="text" 
                                placeholder="Status" 
                                formControlName="status">
                                        <option>Positive</option>
                                        <option>Negative</option>
                                        <option>FollowUp</option>
                                        <option>In Process</option>
                                        <option>Not Started</option>
                                        <option>Others</option>
                                      </select>

                            <!-- <input class="form-control" 
                                    id="statusID"
                                    style="text-transform: capitalize;" 
                                    type="text" 
                                    placeholder="Status" 
                                    formControlName="status" /> -->
                            
                        </div>
                </div>
            </div>           
                  
         <div class="row address col-md-12">    
              
              <div class="address col-md-6"> 
                    <div class="form-group">
                        <label class="col-md-6 control-label" 
                            for="street1Id">Address</label>
                        <div class="col-md-10">
                            <input type="text" 
                                    class="form-control" 
                                    id="street1Id" 
                                    placeholder="Street address"
                                    formControlName = "street1"
                                    >
                        </div>
                    </div>

                    <!-- <div class="form-group">
                        <label class="col-md-2 control-label" 
                            for="street2Id">Street Address 2</label>
                        <div class="col-md-8">
                            <input type="text" 
                                    class="form-control" 
                                    id="street2Id"
                                    placeholder="Street address (second line)"
                                    >
                        </div>
                    </div> -->


                    <div class="form-group">
                        <label class="col-md-8 control-label" 
                            for="cityId">City, State, Postal</label>
                        <div class="col-md-10">
                            <input type="text" 
                                    class="form-control" 
                                    id="cityId" 
                                    placeholder="City"
                                    formControlName = "city"
                                    >
                        </div>
                        <div class="col-md-10">
                            <select class="form-control"
                                    id="stateId"
                                    formControlName = "province"
                                    >
                                <!-- <option value="" disabled selected hidden>Select a Province...</option> -->
                                <option value="AB">Alberta</option>
                                <option value="BC" selected>British Columbia</option>
                                <option value="MB">Manitoba</option>
                                <option value="NB">New Brunswick</option>
                                <option value="NL">Newfoundland and Labrador</option>
                                <option value="NS">Nova Scotia</option>
                                <option value="ON">Ontario</option>
                                <option value="PE">Prince Edward Island</option>
                                <option value="QC">Quebec</option>
                                <option value="SK">Saskatchewan</option>
                            </select>
                        </div>
                        <div class="col-md-7">
                        <input type="text"
                                    class="form-control" 
                                    id="zipId" 
                                    placeholder="Postal"
                                    formControlName = "postal"
                                >
                        </div>
                    </div>
              </div>

              <div class="form-group col-md-6">
                <label class="col-md-8 control-label" 
                    for="profession">Profession</label>

                <div class="col-md-10">
                    <input class="form-control" 
                        id="profession" 
                        type="text" 
                        placeholder="Profession" 
                        formControlName = "profession" />
                </div>
                <br>
                <!-- <input  type="hidden" 
                      formControlName = "notes" /> -->

              
                    <!-- <div class="row container col-md-12">
                        <div class="form-group col-md-12">
                            <label>Notes</label>
                            <textarea class="form-control"  
                                    placeholder="Notes"
                                    formControlName = "notes">
                            </textarea>
                        </div>
                </div>       -->

                <div class="col-md-12">  
                        <div class="form-group" >
                            <label class=" control-label">Age</label>
                            <div class="">
                                  <input class="form-control col-md-4" 
                                       id="ageId" 
                                       type="number" 
                                       formControlName = "age" />
                                    <!-- <label class="radio-inline">
                                        <input type="radio" 
                                               value="18-29" 
                                               formControlName = "age">18-29
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" 
                                               value="30-44"
                                               formControlName = "age">30-44
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" 
                                               value="45-59"
                                               formControlName = "age">45-59
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" 
                                               value="60+"
                                               formControlName = "age">60+
                                    </label> -->
                            </div>
                        </div>
                        <div class="form-group" >
                            <label class="control-label">Gender</label>
                            <div class="">
                                    <label class="radio-inline">
                                        <input type="radio" 
                                               value="M" 
                                               formControlName = "gender">Male
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" 
                                               value="F"
                                               formControlName = "gender">Female
                                    </label>
                            </div>
                        </div>
                      </div>
            </div>


            </div>
            <div  *ngIf="!this.clientService.selectedClient.reminder" class="alert alert-secondary" role="alert" >No Reminder </div><br>
            <div  *ngIf="this.clientService.selectedClient.reminder" class="alert alert-success" role="alert" >Reminder set on: {{this.clientService.selectedClient.reminder}}  </div><br>

            <div class="row container col-md-12">
                <div class="form-group col-md-12">
                        <label class=" control-label" 
                        for="reminderID">Set Reminder</label>
                        <a class="btn"  (click)="setReminderToday()">
                            <i class="fa fa-pencil-square-o"></i>
                        </a> 
                        <a class="btn"  (click)="clearReminder()">
                            <i class="fa fa-trash-o"></i>
                        </a>
                        
                        <mwl-demo-utils-date-time-picker 
                        class="form-control col-md-4"
                        id="reminderID"
                        placeholder="Not set"
                        formControlName = "reminder"
                        (ngModelChange)="refresh.next()">
                        </mwl-demo-utils-date-time-picker>
                </div>  
            </div>
        </div> 

        <div class="col-md-4 notes">
                <div class="row container col-md-12">
                        <div class="form-group col-md-12">
                            <label>Notes</label>
                            <textarea class="form-control"  
                                    placeholder="Notes"
                                    formControlName = "notes">
                            </textarea>
                        </div>
                    </div> 

        </div>
    </div>    
        

              <!-- <div class="form-group"
                  [ngClass]="{'has-error': (customerForm.get('age').touched || 
                                            customerForm.get('age').dirty) && 
                                            !customerForm.get('age').valid }">
                  <label class="col-md-2 control-label" 
                      for="ageId">age</label>

                  <div class="col-md-8">
                      <input class="form-control" 
                             id="ageId" 
                             type="number" 
                             formControlName = "age" />
                      <span class="help-block" *ngIf="(customerForm.get('age').touched 
                                                       || customerForm.get('age').dirty) && 
                                                       customerForm.get('age').errors">
                           
                     </span>
                  </div>
              </div> -->
              
              <!--<div class="form-group">
                  <div class="col-md-offset-1 col-md-8 checkbox" >
                      <label>
                          <input id="sendCatalogId"
                                 type="checkbox"
                                 formControlName = "sendCatalog" >
                          Send me your catalog
                      </label>
                  </div>
              </div>-->

              <!--<div *ngIf="customerForm.get('sendCatalog').value">
                  <div class="form-group">
                      <div class="col-md-4 col-md-offset-2">
                          <span>
                              <button class="btn btn-primary"
                                      type="button"
                                  [disabled]="!addresses.valid"
                                      (click)="addAddress()">
                                  Add Another Address
                              </button>
                          </span>
                      </div>
                  </div>

                  <div formArrayName="addresses" *ngFor="let address of addresses.controls; let i=index">
                      <div [formGroupName]="i">
                          <div class="form-group" >
                              <label class="col-md-2 control-label"
                                     attr.for="{{'addressType1Id' + i}}">Address Type</label>
                              <div class="col-md-8">
                                  <label class="radio-inline">
                                      <input type="radio" id="{{'addressType1Id' + i}}" value="home"
                                      formControlName="addressType">Home
                                  </label>
                                  <label class="radio-inline">
                                      <input type="radio" id="{{'addressType1Id' + i}}" value="work"
                                      formControlName="addressType">Work
                                  </label>
                                  <label class="radio-inline">
                                      <input type="radio" id="{{'addressType1Id' + i}}" value="other"
                                      formControlName="addressType">Other
                                  </label>
                              </div>
                          </div>

                          <div class="form-group"
                               [ngClass]="{'has-error': (address.controls.street1.touched || 
                                                    address.controls.street1.dirty) && 
                                                    !address.controls.street1.valid }">
                              <label class="col-md-2 control-label"
                                     attr.for="{{'street1Id' + i}}">Street Address 1</label>
                              <div class="col-md-8">
                                  <input type="text" 
                                      class="form-control" 
                                      id="{{'street1Id' + i}}" 
                                      placeholder="Street address"
                                      formControlName="street1">
                                  <span class="help-block" *ngIf="(address.controls.street1.touched || address.controls.street1.dirty) && address.controls.street1.errors">
                                    <span *ngIf="address.controls.street1.errors.required">
                                        Please enter your street address.
                                    </span>
                                  </span>
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-md-2 control-label" 
                                     attr.for="{{'street2Id' + i}}">Street Address 2</label>
                              <div class="col-md-8">
                                  <input type="text" 
                                      class="form-control" 
                                      id="{{'street2Id' + i}}"
                                      placeholder="Street address (second line)"
                                      formControlName="street2">
                              </div>
                          </div>

                          <div class="form-group">
                              <label class="col-md-2 control-label" 
                                  attr.for="{{'cityId' + i}}">City, State, Zip Code</label>
                              <div class="col-md-3">
                                  <input type="text" 
                                      class="form-control" 
                                      id="{{'cityId' + i}}" 
                                      placeholder="City"
                                      formControlName="city">
                              </div>
                              <div class="col-md-3">
                                  <select class="form-control"
                                          id="{{'stateId' + i}}"
                                          formControlName="state">
                                      <option value="" disabled selected hidden>Select a State...</option>
                                      <option value="AL">Alabama</option>
                                      <option value="AK">Alaska</option>
                                      <option value="AZ">Arizona</option>
                                      <option value="AR">Arkansas</option>
                                      <option value="CA">California</option>
                                      <option value="CO">Colorado</option>
                                      <option value="WI">Wisconsin</option>
                                      <option value="WY">Wyoming</option>
                                  </select>
                              </div>
                              <div class="col-md-2">
                              <input type="number"
                                      class="form-control" 
                                      id="{{'zipId' + i}}"
                                      placeholder="Zip Code"
                                      formControlName="zip">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>-->


              <div class="form-group">
                  <div class="col-md-4 col-md-offset-2">
                      <span>
                          <button class="btn btn-primary"
                                  style="width:80px;margin-right:10px"
                                  type="submit"
                                  [disabled]="!customerForm.valid">
                              Save
                          </button>
                      </span>
                      <span>
                        <a class="btn btn-secondary"
                           style="width:80px"
                           [routerLink]="['/welcome']">
                            Cancel
                        </a>
                    </span>
                    <span>
                        <a class="btn btn-secondary"
                        *ngIf="this.clientService.selectedClient.$key"
                           style="width:80px; color:#fff"
                           (click)="onDelete(this.clientService.selectedClient.$key)">
                            Delete
                        </a>
                    </span>  
                  </div>
              </div>
          </fieldset>
      </form>
  </div>
</div>


<br>Dirty: {{ customerForm.dirty }} 
<br>Touched: {{ customerForm.touched }}
<br>Valid: {{ customerForm.valid }}
<br>Value: {{ customerForm.value | json }}
