/* input.ng-invalid.ng-dirty{
    border: 1px solid red;
} */

.dirtyClass {
    border: 1px solid red;
}

.help-block {
    color: red;
}

.card-header{
    background-color: #4da3ff;
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
}

.greenClass {
    background-color: #fc8a96 !important;
    text-align: left !important;
}


textarea {
   width: 100%;
    height: 600px;
  }

  .notes{
      padding: 0 0;
      margin: 0 0;
  }

  input, select {
    font-weight: 500;
  }
